<div class="main-content tw-flex tw-h-screen">
  <!-- Sidebar -->
  <div [ngClass]="{ expanded: isSidebarExpanded }" class="sidebar tw-h-full tw-transition-all tw-duration-300">
    <app-sidebar [isSidebarExpanded]="isSidebarExpanded" (toggle)="toggleSidebar()"></app-sidebar>
  </div>

  <!-- Main Area -->
  <div [ngClass]="{ minimized: isSidebarExpanded }"
    class="main-area tw-flex-1 tw-flex tw-flex-col tw-h-full tw-transition-all tw-duration-300">
    <!-- Header -->
    <div class="header-layout tw-h-20 tw-p-1.5" style="z-index: 1000; width: 95%; margin: auto">
      <app-header [isSidebarExpanded]="isSidebarExpanded" (toggle)="toggleSidebar()"></app-header>
    </div>

    <div *ngIf="isMobileView && isMenubarVisible" class="menubar-overlay">
      <app-menu-bar (menuBarToggle)="isMenubarVisible = false"></app-menu-bar>
    </div>
    <!-- Rest Layout -->
    <div class="rest-layout tw-overflow-y-auto">
      <!-- Main Content -->
      <div class="main-layout tw-w-full tw-flex-1">
        <app-main class="tw-w-full"></app-main>
      </div>

      <!-- Footer -->
      <!-- <div class="footer-layout tw-w-full tw-h-20">
        <app-footer></app-footer>
      </div> -->
    </div>
  </div>
</div>