:host ::ng-deep {
  .p-datatable {
    .p-datatable-header {
      padding: 1rem;
      text-align: right;
      font-size: 1.5rem;
    }

    .p-datatable-thead>tr>th {
      text-align: right;
      padding: 1rem;
    }

    .p-datatable-tbody>tr>td {
      text-align: right;
      padding: 1rem;
    }

    .p-button.p-button-text {
      color: #FF6B35;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
  }
}

.flex {
  display: flex;
  gap: 0.5rem;
}

* {
  padding: 0 !important;
  margin: 0;
}

.tw-p-2 {
  padding: 8px !important;
  margin: auto !important;

  text-align: center !important;
}

.custom-input {
  width: 37vw;
  height: 50px;
}

.p-button-primary {
  position: absolute;
  left: 7.5vw;
  background-color: #F36E22;
  padding: 5px !important;
  width: 10.5vw;
  color: white;
  border-color: #F36E22;
  margin-top: 1vh;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 6vh;
}

::ng-deep span.p-button-label {
  color: white;
}

.pointer {
  cursor: pointer;
}

.search-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 12px 20px;
  height: 50px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  margin-right: 10px;
  direction: rtl;
  color: #333;
  width: 37vw;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  outline: none;
}

.icon {
  color: #666;
  font-size: 18px;
  cursor: pointer;
}

.search-icon {
  margin-left: 10px !important;
}

.settings-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

::ng-deep div.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
  border: 0;
  height: 48px;
}