
<header class="header-container">
  <div class="header-content">
    <button class="menu-toggle" (click)="toggleMobileMenu()">
      <i class="pi pi-bars"></i>
    </button>
    <h4 class="header-title">مرحبا بعودتك</h4>

    <div class="search-container">
      <input type="text" pInputText class="search-input" pSize="large" placeholder="بحث" />
      <i class="pi pi-search search-icon"></i>
    </div>

    <div class="icons-container">
      <img class="header-icon" src="../../../assets/images/notifications.png" alt="Notifications">
      <img class="header-icon" src="../../../assets/images/browser.png" alt="Browser">
      <img class="header-icon" src="../../../assets/images/profile.png" alt="Profile">
    </div>
  </div>
<div class="mobile-menu" [class.active]="isMobileMenuOpen">
  <div class="mobile-search-container">
    <input type="text" pInputText class="mobile-search-input" placeholder="بحث" />
    <i class="pi pi-search mobile-search-icon"></i>
  </div>
  <div class="mobile-icons">
    <div class="mobile-icon-item">
      <img src="../../../assets/images/notifications.png" alt="Notifications">
      <span>الإشعارات</span>
    </div>
    <div class="mobile-icon-item">
      <img src="../../../assets/images/browser.png" alt="Browser">
      <span>المتصفح</span>
    </div>
    <div class="mobile-icon-item">
      <img src="../../../assets/images/profile.png" alt="Profile">
      <span>الملف الشخصي</span>
    </div>
    <div class="mobile-icon-item">
      <a routerLink="/accounts" class="mobile-link">
        <img class="invert-image" src="../../../assets/images/users.png" alt="Users">
        <span>الحسابات</span>
      </a>
    </div>
    <div class="mobile-icon-item">
      <a routerLink="/shipments" class="mobile-link">
        <img class="invert-image" src="../../../assets/images/car icon.png" alt="Shipments">
        <span>الشحنات</span>
      </a>
    </div>
  </div>
</div>
</header>