<div
  class="sidebar tw-h-full tw-w-full tw-flex tw-flex-col tw-justify-between tw-items-center tw-p-2.5 tw-box-border tw-rounded-l-[50px] tw-transition-width tw-duration-300"
  [ngClass]="{ expanded: isSidebarExpanded }" style="overflow: auto">
  <div class="top-link tw-flex">
    <img class="logo" src="../../../assets/images/logo.png" alt="" />
  </div>

  <div class="line"></div>

  <div class="middle-links tw-flex tw-flex-col tw-justify-start tw-relative tw-flex-grow tw-w-full tw-mt-9">



    <div class="hover-left-border">
      <a routerLink="/accounts"
        class=" tw-text-center tw-px-5 tw-py-2.5 tw-text-xl tw-font-bold tw-text-white tw-transition">
        <img src="../../../assets/images/users.png" alt="">
        <span class="link-content tw-hidden tw-mr-3">الحسابات</span>
      </a>
    </div>
    <div class="hover-left-border">
      <a routerLink="/shipments"
        class=" tw-text-center tw-px-5 tw-py-2.5 tw-text-xl tw-font-bold tw-text-white tw-transition">
        <img src="../../../assets/images/car icon.png" alt="">
        <span class="link-content tw-hidden tw-mr-3">الشحنات</span>
      </a>
    </div>

    <div class="lastContainer"></div>
    <div class="orderImage"><img src="../../../assets/images/order.png" alt=""></div>
  </div>
</div>
