<div
  class="tw-flex tw-items-center tw-justify-center tw-relative tw-bg-cover tw-bg-center tw-bg-no-repeat tw-w-full container">
  <img src="../../../assets/images/signin_BG.png" alt="" class="background">




  <div *ngIf="showForgetPassword==false"
    class="card tw-rounded-lg tw-shadow-lg tw-p-8 tw-absolute tw-w-full tw-z-50 signin-card">
    <div class="tw-flex tw-justify-center tw-mb-6">
      <img class="signIn-logo" src="../../../assets/images/signIn_logo.png" alt="">
    </div>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="tw-mb-4 tw-relative">
        <input type="text" pInputText placeholder="اسم المستخدم"
          class="rtl tw-w-full tw-p-2 tw-pr-14 tw-border tw-rounded" formControlName="email" />
        <img class="rtl tw-absolute icon" src="../../../assets/images/profile_icon.png" alt="">
        <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="tw-text-red-500">
          اسم المستخدم مطلوب
        </small>
      </div>

      <div class="tw-mb-6 tw-relative">
        <input type="password" pInputText placeholder="كلمة المرور"
          class="rtl tw-w-full tw-p-2 tw-pr-14 tw-border tw-rounded" formControlName="password" />
        <img class="rtl tw-absolute icon" src="../../../assets/images/lock_logo.png" alt="">
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="tw-text-red-500">
          كلمة المرور مطلوبة
        </small>
      </div>

      <div class="tw-text-left">
        <!-- to show forget password dialogue (click)="showForgetPassword = true" -->
        <p class="pointer  tw-text-sm tw-mx-0 tw-my-5 tw-text-gray-600">هل نسيت كلمة
          المرور؟
        </p>
      </div>

      <button pButton type="submit" [disabled]="loginForm.invalid"
        class="tw-w-full tw-text-center tw-mx-auto tw-flex tw-justify-center button tw-text-white tw-py-2 tw-rounded tw-mb-4">
        تسجيل الدخول
      </button>

      <div *ngIf="loginError" class="tw-text-center tw-text-red-500 tw-mt-2">
        {{ loginError }}
      </div>
    </form>
  </div>


  <!-- Forget Password Card -->
  <div *ngIf="showForgetPassword==true"
    class="tw-fixed tw-inset-0 tw-bg-black tw-bg-opacity-50 tw-flex tw-items-center tw-justify-center tw-z-50">
    <div class="card forgetPass tw-rounded-lg tw-shadow-lg tw-p-8">
      <div class="tw-flex tw-justify-center tw-mb-6">
        <div class="loginPhoto">
          <img src="../../../assets/images/w.png " alt="">
        </div>
      </div>

      <div class="tw-text-center tw-mb-6">
        <h2 class="tw-text-lg tw-font-bold tw-text-gray-800">أدخل الرمز الذي قمنا بارساله لبريدك الالكتروني</h2>
      </div>

      <div class="tw-mb-6">
        <div class="tw-flex tw-justify-center tw-space-x-2 tw-dir-rtl">
          <input *ngFor="let _ of [].constructor(6); let i = index" type="text" maxlength="1"
            class="tw-w-10 tw-h-12 tw-text-center tw-rounded tw-text-lg" (keydown)="onKeyDown($event, i)"
            (input)="moveToNext($event, i)" />
        </div>
      </div>

      <button (click)="showForgetPassword=null"
        class="tw-w-10/12 tw-m-auto tw-flex tw-justify-center button tw-text-white tw-py-3 tw-rounded tw-font-bold">
        تأكيد
      </button>
    </div>
  </div>
  <!-- <div *ngIf="showForgetPassword==true"
    class="tw-fixed  tw-inset-0 tw-bg-black tw-bg-opacity-50 tw-flex tw-items-center tw-justify-center tw-z-50">
    <div class=" card forgetPass tw-rounded-lg tw-shadow-lg tw-p-8 ">
      <div class="tw-flex tw-justify-center tw-mb-6">
        <div class="">

          <img src="../../../assets/images/w.png " alt="">
        </div>
      </div>

      <div class="tw-text-center tw-mb-6">
        <h2 class="tw-text-lg tw-font-bold tw-text-gray-800">أدخل الرمز الذي قمنا بارساله لبريدك الالكتروني</h2>
      </div>

      <div class="tw-mb-6">
        <div class="tw-flex tw-justify-center tw-space-x-2 tw-dir-rtl">
          <input *ngFor="let _ of [].constructor(6); let i = index" type="text" maxlength="1"
            class="tw-w-10 tw-h-12 tw-text-center  tw-rounded tw-text-lg" (keydown)="onKeyDown($event, i)"
            (input)="moveToNext($event, i)" />
        </div>
      </div>

      <button (click)="showForgetPassword=null"
        class="tw-w-10/12 tw-m-auto tw-flex tw-justify-center button tw-text-white tw-py-3 tw-rounded tw-font-bold">
        تأكيد
      </button>
    </div>
  </div> -->

  <!-- end of  Forget Password Card -->


  <!-- rewrite new password  -->
  <div *ngIf="showForgetPassword==null"
    class="card tw-rounded-lg tw-shadow-lg tw-p-8 tw-absolute tw-w-full tw-z-50 signin-card">
    <div class="tw-flex tw-justify-center">
      <img class="signIn-logo" src="../../../assets/images/new_password.png" alt="">
    </div>

    <div class="tw-m-0 tw-flex tw-justify-center">
      <h3 class="tw-m-0 tw-mt-2 tw-mb-6">أدخل كلمة المرور الجديدة</h3>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <div class="tw-mb-4 tw-relative">
        <input type="password" pInputText placeholder="كلمة المرور الجديدة"
          class="rtl tw-w-full tw-p-2 tw-pr-14 tw-border tw-rounded" formControlName="newPassword" />
        <img class="rtl tw-absolute icon" src="../../../assets/images/lock_logo.png" alt="">
        <small *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
          class="tw-text-red-500">
          كلمة المرور الجديدة مطلوبة
        </small>
      </div>

      <div class="tw-mb-6 tw-relative">
        <input type="password" pInputText placeholder="تأكيد كلمة المرور"
          class="rtl tw-w-full tw-p-2 tw-pr-14 tw-border tw-rounded" formControlName="confirmPassword" />
        <img class="rtl tw-absolute icon" src="../../../assets/images/lock_logo.png" alt="">
        <small
          *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.get('confirmPassword')?.touched"
          class="tw-text-red-500">
          كلمات المرور غير متطابقة
        </small>
      </div>

      <button pButton type="submit" [disabled]="resetPasswordForm.invalid"
        class="tw-w-full tw-text-center tw-mx-auto tw-flex tw-justify-center button tw-text-white tw-py-2 tw-rounded tw-mb-4">
        متابعة
      </button>
    </form>
  </div>

  <!-- <div *ngIf="showForgetPassword==null"
    class="card tw-rounded-lg tw-shadow-lg tw-p-8 tw-absolute tw-w-full tw-z-50 signin-card">
    <div class="tw-flex tw-justify-center ">
      <img class="signIn-logo" src="../../../assets/images/new_password.png" alt="">
    </div>

    <div class="tw-m-0 tw-flex tw-justify-center">
      <h3 class="tw-m-0 tw-mt-2 tw-mb-6">أدخل كلمة المرور الجديدة</h3>
    </div>


    <div class="tw-mb-4 tw-relative">
      <input type="text" pInputText placeholder="كلمة المرور الجديدة "
        class="rtl tw-w-full tw-p-2 tw-pr-14 tw-border tw-rounded" />
      <img class="rtl tw-absolute  icon" src="../../../assets/images/lock_logo.png" alt="">
    </div>

    <div class="tw-mb-6 tw-relative">
      <input type="password" pInputText placeholder="تأكيد كلمة المرور"
        class="rtl tw-w-full  tw-p-2 tw-pr-14 tw-border tw-rounded" />
      <img class="rtl tw-absolute  icon" src="../../../assets/images/lock_logo.png" alt="">

    </div>

    <button pButton type="button" label=""
      class="tw-w-full tw-text-center tw-mx-auto tw-flex tw-justify-center button tw-text-white tw-py-2 tw-rounded tw-mb-4">
      متابعة</button>

  </div> -->


</div>
