.container {
  height: 97.5vh !important;
}

.background {
  width: 100vw;
  height: 100vh;
}

// Common Styles
.rtl {
  direction: rtl;
}

.icon {
  right: 3px;
  top: 2.2vh;
  height: 4.6vh;
  width: 2.7vw;
  margin-right: 1.5vw;
}

// Sign-In Card Styles
.signin-card {
  width: 42vw;
}

.signIn-logo {
  width: 9vw;
}

// Forget Password Card Styles
.forget-password-card {
  width: 42vw;
}

.forget-password-logo {
  width: 9vw;
  margin-bottom: 1rem;
}

input {
  height: 8.4vh;
  border: -.5px solid #2A2A2A !important;
  background-color: white;
}

.tw-pr-14 {
  padding-right: 5.2vw !important;
}

.button {
  background-color: #2A2A2A;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.forgetPass {
  background-color: #F8F8F8 !important;
  width: 48vw;
}


.card {
  background-color: #F8F8F8 !important;

}

.pointer {
  cursor: pointer;
}



@media screen and (max-width: 768px) {


  .icon {
    width: 30px !important;
  }

  .tw-pr-14 {
    padding-right: 45PX !important;
  }

  .card {
    width: 90% !important;

    .signIn-logo {
      width: 20vw !important;
    }



  }

  .forgetPass {
    width: 95% !important;
  }









}
