<div class="tw-relative tw-w-full  tw-h-screen ">
  <swiper-container #swiperContainer autoplay [pagination]="true" (swiperslidechange)="onSlideChange($event)"
    class="alignCenter slider1" dir="ltr" [zoom]="true">
    <swiper-slide class="tw-flex tw-flex-col" dir="ltr">
      <img class="tw-h-screen tw-w-full" src="../../../assets/images/home bg.png" alt="">
    </swiper-slide>
    <swiper-slide class="tw-flex tw-flex-col" dir="ltr">
      <img class="tw-h-screen tw-w-full" src="../../../assets/images/home bg.png" alt="">
    </swiper-slide>
    <swiper-slide class="tw-flex tw-flex-col" dir="ltr">
      <img class="tw-h-screen tw-w-full" src="../../../assets/images/home bg.png" alt="">
    </swiper-slide>
  </swiper-container>

  <div class="tw-flex tw-align-middle tw-content-center  ">
    <!-- Logo -->
    <div class="tw-absolute tw-top-4 tw-right-4 logo-container header header-section">
      <img style="width: 7.5vw;" src="../../../assets/images/sultan_logo1.png" alt="">
    </div>



    <!-- Contact info -->
    <div class="tw-absolute tw-top-8 tw-right-24 contact-info header-section">
      <div class="tw-flex  tw-items-center tw-content-center tw-gap-4 tw-text-white">
        <img style="width: 3.4vw;" src="../../../assets/images/clock icon.png" alt="">
        <span class="tw-text-sm tw-text-white sm:tw-text-xs ">من الاحد الى الجمعة من الساعة 9:00 صباحا حتى 4:00 بعد
          الظهر</span>
        <div class="tw-flex tw-gap-2 tw-align-middle tw-items-center   tw-content-center">
          <img style="width: 3.4vw;" src="../../../assets/images/call icon.png" alt="">


          <span
            class=" sm:tw-text-xs tw-items-center tw-flex tw-gap-2 tw-align-middle  tw-content-center tw-m-auto tw-text-white">+965
            777 738
            640</span>
          <span class=" sm:tw-text-xs tw-flex tw-gap-2 tw-align-middle  tw-content-center tw-m-auto tw-text-white">+965
            514 38
            214</span>
          <span class=" sm:tw-text-xs tw-flex tw-gap-2 tw-align-middle  tw-content-center tw-m-auto tw-text-white">+965
            991 085
            51</span>
        </div>
      </div>
    </div>

    <div *ngIf="isLoggedIn == false" class="tw-absolute tw-top-4 tw-left-4 logo-container header-section ">
      <img (click)="goLogin()" class="loginBtn" src="../../../assets/images/login_btn.png" alt="">
    </div>
  </div>


  <!-- Main content -->
  <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-1/2 main-content">
    <h1 class="tw-text-white tw-text-6xl tw-font-black  tw-mb-4">شركة سلطان للشحن</h1>
    <p class="tw-text-white tw-text-2xl tw-mb-8">مختصون بشحن كافة أنواع البضائع والسيارات لكل دول الوطن العربي</p>

    <div class="tw-flex tw-gap-4 tw-justify-center">
      <div class="p-inputgroup">
        <button class="p-button">
          <i style="color: white;" class="pi pi-arrow-circle-left"></i>
          <span style="font-size: 22px; color: white;">تتبع</span>
        </button>
        <input class="p-inputtext" placeholder="ادخل رقم الشحنة" />
        <img class="box" src="../../../assets/images/box_icon.png" alt="">
      </div>
    </div>
  </div>

  <!-- Shipment count -->
  <div class="tw-absolute tw-bottom-7 tw-left-7 shipment-info">
    <div class="info-box">
      <h3 class="tw-text-white tw-text-xl">+2500 شحنة مكتملة</h3>
      <p class="tw-text-white tw-text-sm">خبرة طويلة وواسعة في عالم النقل تمتد
        لأكثر من 50 عاما كنا فيها أهل للثقة
        وكان هدفنا الأسمى أن نحظى
        بثقة العميل</p>
    </div>
  </div>

  <div
    class="tw-absolute tw-bottom-0 blachBtn tw-z-20 tw-right-1 tw-text-[23px] lg:tw-text-[18px] md:tw-text-[16px] sm:tw-text-[14px]">
    وسائل شحن متعددة وامنة
  </div>

</div>

<!-- second page  -->
<div class="tw-flex secondPage tw-gap-8 tw-ml-3">

  <div class="imageSection tw-w-1/2 tw-flex ">

    <div>
      <img style="width: 25vw;" src="../../../assets/images/biggerImage.png" alt="">
    </div>
    <div class="tw-flex tw-flex-col tw-mr-2">
      <img style="width: 18.5vw;" src="../../../assets/images/frist small.png" alt="">
      <img style="width: 18.5vw;" src="../../../assets/images/second small.png" alt="">

    </div>
  </div>

  <div class="textSection tw-flex tw-flex-col">

    <h1 class="tw-text-4xl tw-p-0 tw-m-0  sm:tw-text-xl">شركة سلطان شركائك في النجاح</h1>
    <p class="sm:tw-text-sm">في عالم الأعمال، الوقت والدقة هما سر النجاح، ونحن في شركة سلطان نؤمن أن نجاح عملائنا
      هو نجاحنا. لذلك، نقدم لكم خدمات نقل البضائع بأعلى معايير الجودة والالتزام، لنكون شركاءكم
      في كل خطوة نحو النمو والتوسع. نمتلك أسطولًا متكاملاً من وسائل النقل الحديثة، وفريق
      عمل متمرس يضمن وصول بضائعكم بأمان وفي الوقت المحدد</p>

    <div class="tw-flex">
      <div class="tw-flex tw-items-center">
        <img style="width: 6vw;" src="../../../assets/images/boxImage.png" alt="">
        <p class="tw-mr-2 sm:tw-text-sm">خدمات شحن متنوعة</p>
      </div>
      <div class="tw-flex tw-items-center tw-mr-2">
        <img style="width: 6vw;" src=" ../../../assets/images/SpeakerImage.png" alt="">
        <p class="tw-mr-2 sm:tw-text-sm">التواصل المستمر مع العملاء</p>
      </div>


    </div>

    <div class=" tw-flex-col tw-flex tw-mt-3">

      <div class="tw-flex tw-items-center tw-my-3">
        <img src="../../../assets/images/correct 1.png" alt="">
        <p class="tw-my-0 tw-mr-2">التواصل المستمر مع عمالئنا هاتفيًا وعن طريق البريد اإللكتروني</p>
      </div>
      <div class="tw-flex tw-items-center tw-my-3">
        <img src="../../../assets/images/correct 1.png" alt="">
        <p class="tw-my-0 tw-mr-2">ضمان السرعة والدقة في تخليص البضائع جمركيًا</p>
      </div>
      <div class="tw-flex tw-items-center tw-my-3">
        <img src="../../../assets/images/correct 1.png" alt="">
        <p class="tw-my-0 tw-mr-2">ضمان وصول البضائع إلى مخازن العميل بسرعة وأمان</p>
      </div>



    </div>


  </div>

</div>


<!-- third page  -->

<div class="tw-container tw-mx-auto tw-py-8 thirdPage">
  <div class="tw-text-center tw-mb-8">
    <h2 class="tw-text-4xl tw-font-bold tw-mb-4">نحن نبسط عملية النقل لتسريع أعمالك</h2>
    <p class="tw-text-gray-600">
      تقدم شركتنا خدمات لوجستية كثيرة ومتنوعة لترتقي لجعل ومنافسة الشركات العالمية. ومن أجل سعينا المستمر لإرضاء عملائنا
      نعمل على أنظمة الكترونية من شأنها تطوير وتحسين وتسريع عمليات النقل كما توفر إمكانية المتابعة للعميل لكافة شحناته
      ومعرفة حالتها وتتبعها ومن أهم الخدمات التي نقدمها هي
    </p>
  </div>

  <div class="tw-grid  shippingWays tw-grid-cols-1 md:tw-grid-cols-2 sm:tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-4">
    <div class="  tw-overflow-hidden tw-flex tw-justify-center">
      <img src="../../../assets/images/air.png" alt="الشحن الجوي" class=" " />

    </div>

    <div class="  tw-overflow-hidden tw-flex tw-justify-center">
      <img src="../../../assets/images/sea.png" alt="الشحن البحري" class="  " />
    </div>

    <div class="  tw-overflow-hidden tw-flex tw-justify-center">
      <img src="../../../assets/images/land-shipping.png" alt="الشحن البري" class=" " />

    </div>
  </div>
</div>

<!-- footer -->

<div class="footer">

  <div class=" tw-flex">
    <div class="footerRightSec  tw-mt-10 tw-mr-10 tw-w-3/5 tw-text-white">
      <img style="width: 12vw;" src="../../../assets/images/footerlogo.png" alt="">
      <p class="tw-text-white tw-w-11/12 sm:tw-text-xs">خبرة تفوق 9 سنوات في الشحن والتخليص الجمركي داخل العراق. نقدم
        خدمات
        شحن بحري، جوي، وبري، بالإضافة إلى التخليص الجمركي بكفاءة عالية لضمان
        وصول البضائع بأمان وسرعة. فريق عملنا المتخصص يضمن لكم أفضل
        خدمة وتجربة إيجابية.</p>
    </div>


    <div class="footerLeftSec tw-mt-10 tw-text-white">

      <h2 class="tw-text-white tw-text-2xl tw-my-2">تواصل معنا على</h2>
      <div class="tw-flex tw-items-center tw-my-2">
        <img src="../../../assets/images/location.png" alt="">
        <span class="tw-text-white tw-font-extralight tw-text-sm tw-mr-3">الكويت/الكويت/اسم الشارع</span>
      </div>
      <div class="tw-flex tw-items-center tw-my-2">
        <img src="../../../assets/images/call.png" alt="">
        <span class="tw-text-white tw-font-extralight tw-text-sm tw-mr-3">96599188551+ , 96544438214+ ,
          962797738460+</span>
      </div>
      <div class="tw-flex tw-items-center tw-my-2">
        <img src="../../../assets/images/sms.png" alt="">
        <span class="tw-text-white tw-font-extralight tw-text-sm tw-mr-3">{{'sultan@gmail.com'}}</span>
      </div>
    </div>

  </div>
  <div class="line "></div>

  <p class=" tw-mt-0 tw-py-2 tw-text-center tw-text-white">جميع الحقوق محفوظة لشركة سلطان © 2025 | Powered by UPNQ8</p>

</div>
