<div
  class="main-footer tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center tw-gap-8 md:tw-gap-[35%] tw-mt-10 tw-relative"
>
  <div
    class="footer-logo tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full md:tw-w-[40%]"
  >
    <div
      class="logo tw-flex tw-justify-center tw-items-center tw-gap-4 md:tw-gap-[10%]"
    >
      <div><i class="pi pi-star-fill tw-text-2xl tw-font-bold"></i></div>
      <div><h1 class="tw-text-2xl tw-font-bold tw-font-oblique">Dcodz</h1></div>
    </div>
    <div class="description tw-text-center tw-text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, aliquip ex ea commodo consequat.
    </div>
    <div
      class="list-icons tw-flex tw-justify-center tw-items-center tw-gap-4 md:tw-gap-[5%] tw-mb-5"
    >
      <div class="tw-bg-white tw-p-2 md:tw-p-[10%] tw-rounded-full">
        <i class="pi pi-facebook tw-text-aliceblue tw-text-lg"></i>
      </div>
      <div class="tw-bg-white tw-p-2 md:tw-p-[10%] tw-rounded-full">
        <i class="pi pi-instagram tw-text-aliceblue tw-text-lg"></i>
      </div>
      <div class="tw-bg-white tw-p-2 md:tw-p-[10%] tw-rounded-full">
        <i class="pi pi-linkedin tw-text-aliceblue tw-text-lg"></i>
      </div>
      <div class="tw-bg-white tw-p-2 md:tw-p-[10%] tw-rounded-full">
        <i class="pi pi-youtube tw-text-aliceblue tw-text-lg"></i>
      </div>
      <div class="tw-bg-white tw-p-2 md:tw-p-[10%] tw-rounded-full">
        <i class="pi pi-whatsapp tw-text-aliceblue tw-text-lg"></i>
      </div>
    </div>
  </div>
  <div class="footer-lists tw-w-full md:tw-w-auto">
    <div
      class="list-elements tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-[1%] tw-mb-2 md:tw-mb-0"
    >
      <div><i class="pi pi-lock tw-text-lg"></i></div>
      <h1 class="tw-text-lg">Stores</h1>
    </div>
    <div
      class="list-elements tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-[1%] tw-mb-2 md:tw-mb-0"
    >
      <div><i class="pi pi-tag tw-text-lg"></i></div>
      <h1 class="tw-text-lg">Sales</h1>
    </div>
    <div
      class="list-elements tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-[1%] tw-mb-2 md:tw-mb-0"
    >
      <div><i class="pi pi-shopping-cart tw-text-lg"></i></div>
      <h1 class="tw-text-lg">Purchase</h1>
    </div>
    <div
      class="list-elements tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-[1%] tw-mb-2 md:tw-mb-0"
    >
      <div><i class="pi pi-calculator tw-text-lg"></i></div>
      <h1 class="tw-text-lg">Accountings</h1>
    </div>
    <div
      class="list-elements tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-[1%] tw-mb-2 md:tw-mb-0"
    >
      <div><i class="pi pi-cog tw-text-lg"></i></div>
      <h1 class="tw-text-lg">Settings</h1>
    </div>
  </div>
</div>

<div
  class="min-footer tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center tw-gap-4 md:tw-gap-[25%] tw-mt-2 tw-font-bold"
>
  <div class="copyrights tw-text-center md:tw-text-left">
    ©Copyright for Grafikà Advertising Agency 2024. All rights reserved.
  </div>
  <div
    class="policy tw-flex tw-justify-center tw-items-center tw-gap-4 md:tw-gap-[10%]"
  >
    <div class="policy-items"><p>Privacy Policy</p></div>
    <div class="policy-items"><p>Terms & Conditions</p></div>
    <div class="policy-items"><p>Cookie Policy</p></div>
  </div>
</div>
