:host ::ng-deep {
  .p-datatable {
    .p-datatable-header {
      padding: 1rem;
      text-align: right;
      font-size: 1.5rem;
    }

    .p-datatable-thead>tr>th {
      text-align: right;
      padding: 1rem;
    }

    .p-datatable-tbody>tr>td {
      text-align: right;
      padding: 1rem;
    }

    .p-button.p-button-text {
      color: #FF6B35;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
  }
}

.flex {
  display: flex;
  gap: 0.5rem;
}

// * {
//   padding: 0 !important;
//   margin: 0;
// }

.tw-p-2 {
  padding: 8px !important;
  margin: auto !important;

  text-align: center !important;
}

.custom-input {
  width: 30vw;
  height: 50px;
}

.p-button-primary {
  margin-right: 11.5vw;
  background-color: #F36E22;
  padding: 5px !important;
  width: 10.5vw;
  color: white;
  border-color: #F36E22;
  margin-top: 1vh;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 6vh;
}


td {
  margin: 0;
  padding: 0 !important;
}

::ng-deep span.p-button-label {
  color: white;
}

.pointer {
  cursor: pointer;
}

.search-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  display: flex;
}




.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 12px 20px;
  height: 50px;
  width: 37vw;
  border: 1px solid #9d9baf3f !important;

  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.margin-right {
  margin-right: 50px !important;
}


.status {
  color: #006400;
  height: 30px;
  width: 7.4vw;
  background-color: #D6E6D6;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.dot-icon {
  margin-left: 9px !important;
  font-size: 9px;
}

.dropdown {
  margin-right: 10px !important;
  width: 8.5vw;
  background-color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1px solid #9d9baf3f;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

.search-input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  margin-right: 10px;
  direction: rtl;
  color: #333;
  width: 37vw;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  outline: none;
}

.icon {
  color: #666;
  font-size: 18px;
  cursor: pointer;
}

.search-icon {
  margin-left: 10px !important;
}

.settings-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

.orange {
  color: #F36E22
}

.main-shipment {
  //width: 95%;
  margin-bottom: 20px;
  background-color: #F8F9FA;
  border: 1px solid #9d9baf3f !important;
  padding: 20px !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



.content {
  background-color: #F7F7F7;
}

.details {
  background-color: #F5F5F8;
}

.container {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::ng-deep div.p-toolbar.p-component {
  padding: 0px !important;
}

.small-text {
  font-size: 9px;
  color: rgba($color: #2A2A2A, $alpha: .6);
}


::ng-deepbutton.p-ripple.p-element.p-dialog-header-icon.p-dialog-header-close.p-link.ng-star-inserted {
  display: none;
}